<h3>Log Messages</h3>
<% [5,4,3,2,1,0, nil].each do |severity|%>
  <table>
    <thead>
      <tr>
        <th>Level: <%= "#{severity}: #{Rack::Bug::LogPanel::LEVELS[severity]}" if severity%></th>
        <th>Time</th>
        <th>Message</th>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <% logs.select {|log| severity.nil? || log[:severity] == severity}.each_with_index do |log, i| %>
        <tr class="<%= i % 2 == 0 ? "even" : "odd" %>">
          <td><%= "#{log[:severity]}:#{Rack::Bug::LogPanel::LEVELS[log[:severity]]}" %></td>
          <td><%= log[:time] %></td>
          <td><%= log[:message] %><%#= log[1].to_s.gsub(/\e\[[;\d]+m/, "") %></td>
          <td><%= log[:call_stack].join("<br>") %><%#= log[1].to_s.gsub(/\e\[[;\d]+m/, "") %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>